body {
  background-color: #f2f2f2;
}

h1 {
  color: red;
  text-align: center;
}

.cat-img {
  margin-left: 25%;
  width: 50vw;;
  height: 70vh;
}

.counter {
  margin-top: 3vh;
  color: blue;
  text-align: center;
}
